<ion-content>
  <ion-row padding-horizontal class="header">
    <ion-col col-11 padding-top>
      <ion-searchbar
        [(ngModel)]="search_product"
        [showCancelButton]="true"
        (ionInput)="onInput($event)"
        no-padding
        placeholder="Search the product"
        
      >
      </ion-searchbar>
    </ion-col>
    <ion-col col-1 text-center no-padding padding-top class="margin_auto">
      <ion-icon
        ios="ios-chatbubbles-outline"
        name="ios-chatbubbles-outline"
        [ngStyle]="{ 'font-size': 'font-size: 1.8em' }"
      ></ion-icon>
    </ion-col>
  </ion-row>
  <ion-segment [(ngModel)]="segmentSelect">
    <ion-segment-button *ngFor="let segment of segments" [value]="segment">
      {{ segment }}
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="segmentSelect">
    <div *ngSwitchCase="'brand'">
      <ion-row text-center padding>
        <ion-col col-35 *ngFor="let brand of brands" margin-right class="brand">
          <img [src]="brand.image" [ngClass]="{ full_width: true }" /><br />
          <b>{{ brand.name }}</b
          ><br />
          <span>{{ brand.description }}</span
          ><br />
          <button class="button" (click)="gotobrand(brand)">view</button>
        </ion-col>
      </ion-row>
      <ion-row
        margin
        *ngFor="let brand of brand_products"
        class="brand_products"
      >
        <ion-col col-12 no-padding>
          <img
            src="https://via.placeholder.com/100/FFFF000?text=HOT.png"
            *ngIf="brand.hot"
            class="ishot"
          />
          <img [src]="brand.image" />
          <ion-row>
            <ion-col col-2 class="margin_auto" (click)="gotobrand(brand)"> 
              <img [src]="brand.logo" [ngClass]="['full_width', 'image']" />
            </ion-col>
            <ion-col col-8>
              <b>{{ brand.name }}</b
              ><br />
              <span class="description">{{ brand.description }}</span
              ><br />
            </ion-col>
            <ion-col col-2 class="margin_auto" text-center>
              <span class="quantity">{{ brand.quantity }}</span>
              <div [ngStyle]="{'padding-top': '6px'}"></div>
              <button class="button">like</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
